body {
  margin: 0;
  padding: 0;
  background: #bfcbd4;
  color: black;
}

.navbar-nav{
  color: black;
}
.nav-cls {
  height: 64px;
  box-shadow: 0.5px 6px rgba(0, 0, 0, 0.041);
  color: black;
  position: sticky;
  top: 0%;
}
.list-item {
  font-family: cursive;
display: flex;
  font-size: 22px;
  margin-left: 181px;
  font-weight: bold;
  
}
.list-item a{
  color: black;
}
.nav-item {
  padding-left: 25px;
}
.para {
    display: flex;
    padding-top: 25px;
    font-size: 41px;
    font-family: fantasy;
    letter-spacing: 2px;
}

.collapse {
  position: relative;
  top: 10px;
}




.img2 {  
    padding-top: 6px;
  width: 750px;
  height: 389px;

}

.text {
  padding-left: 30px;
}
h1 {
    font-size: 69px;
    font-family: unset;
    letter-spacing: 1px;
}
h1 a {
  text-decoration: none;
  color: #552e20;
}
.main-ui {
  display: flex;
  padding-top: 20px;
}
.main-ui p {
  font-size: 38px;
  padding-left: 19px;
}
.sub {
    font-size: 20px;
    font-family: cursive;
    padding-top: 21px;

}
.sub h1{
  font-weight: bold;
}
.card {
  display: inline-flex;
  margin-left: 52px;
  margin-top: 40px;
  border-radius: 18px;
  background-color: black;
  width: 10rem;
  height: 45vh
}
.card p{
  margin-top: 0;
  margin-bottom: 0rem;

}
.card-img-top {
  width: 159px;
  height: 131px;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
}


.card-title {
  font-size: 23px;
  margin-top: -17px;
  font-weight: bold;
  margin-left: -8px;
  font-family: fangsong;

}

.bi {
  width: 23px;
  height: 23px;
}
.icons {
 letter-spacing: 10px;
 padding-right: 35px;
}
.icons a{
    color: black;
}
.icons a :hover{
    color: #552e20;
}
.card-body {
  font-size: 9px;
  background: #000000f0;
  color: white;
  height: 162px;
  width: 159px;
  border-bottom-right-radius: 17px;
  border-bottom-left-radius: 17px;
}
.button{
  display: flex;
  justify-content: space-evenly;
  padding-left: 77%;
  padding-top: 27px;
}
.sub-button{
  padding: 10px;
  font-size: 26px;
  font-family: cursive;
  border-radius: 30px;
  background: #552e20;
  color: white;
  border: 1px solid black;
}
.card-cart{
  margin-left: 5px;
    color: white;
}
.card-cart :hover{
color: #bfcbd4;
}
.card-like{
margin-left: 73px;
    color: white;
}
.card-like :hover{
  color: #bfcbd4;
  }
  @media screen and (max-width: 940px){
    .card{
      display: flex;
      flex-direction: column;
    }
  }
